body{
	margin: 3% auto;
  width: 65%;
  font-size: 1.2rem;
  line-height: 1.8rem;
	font-family: 'Oxygen', sans-serif;
	color: rgb(87, 87, 87);
}

a{
    color: rgb(87, 87, 87);
}

span{
	color: grey;
}

@media screen and (max-width: 991px) {
  body{
    width: 90%;
  }
}

header{
	display: flex;
	justify-content: space-between;
	margin: 5% auto
}

.avatar{
	width: 110px;
	border-radius: 50%
}
.two-column{
	display: flex;
	align-content: center;
	justify-content: flex-start;
}
.side-left{
	display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-media{
    margin-left: 20px
  }
.side-right{
	margin-left: 40px
}
.tags{
	background: black;
	color: white;
	font-size: 0.8em;
	padding: 1px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 10px;
	text-decoration: none;
}
.darkmode .tags{
	background: white;
	color: black;
}
@media screen and (max-width: 991px) {
  .two-column{
    display: block;
  }
  .side-right{
  	margin-left: 0px
  }
  .side-left{
  	display: flex;
  	justify-content: flex-start;
  	align-items: center;
  }
}

.footer {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: flex-start;
}
.footer-utama{
  font-size: 1.2rem;
  text-align: center;
}
.footer img {
  margin-right: 20px;
  border-radius: 50%
}

img[src*="#post-img-small"] {
	width:50%;
 }

img[src*="#post-img-full"] {
	width:100%;
 }

 img[src*="#git-img-main"] {
	width:50%;
 }
